django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
meshtastic
paho-mqtt
psycopg2-binary>=2.9
django-cors-headers>=4.3.1
Pillow>=10.2.0
drf-spectacular
django-filter
django-cleanup>=8.0.0
celery>=5.3.0
redis>=5.0.0
gunicorn>=21.2.0
whitenoise>=6.6.0

# Tests & Coverage
pytest>=7.4.0
pytest-django>=4.5.0
pytest-cov>=4.1.0
coverage>=7.3.0
faker>=19.0.0