/* You can add global styles to this file, and also import other style files */
@import 'maplibre-gl/dist/maplibre-gl.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-header, app-admin-header {
  position: sticky;
  top: 0;
  display: block;
  z-index: 1000; 
}
